.admin-layout {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f6fa;
}

/* Main content area beside sidebar */
.admin-main {
  flex: 1;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.admin-content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  background-color: #f5f6fa;
}
