/* ====================
=====REGISTER PAGE
=================== */

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: sans-serif;
}

.form-container form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.form-container form button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 250px;
}

.form-container form button:hover {
  border: 1px solid black;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

/* LOGIN PAGE */

.outer-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 512px;
  margin: 20px auto;
}

.login-wrapper {
  width: 100%;
  width: 700px;
  min-height: 450px;
  background-color: #fff;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #eff0f5;
}
.password-label {
  display: flex;
  justify-content: space-between;
}

.password-input-container {
  position: relative;
  width: 100%;
}
.password-input-container span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.login-wrap-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider-line {
  flex: 1;
  border: none;
  border-top: 1px solid #000; /* or any color you prefer */
}

.login-wrap-divider span {
  white-space: nowrap; /* Prevents text wrapping */
}

/* SOCIAL */
.mode-login {
  display: flex;
  gap: 1px;
}
.mode-login span {
  margin: 5px;
}
.logos {
  font-weight: 400px;
}

/* responsive breakpoints */

@media (max-width: 992px) {
  /* tablet*/
  .login-wrapper {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  /*tablet portrait / big phones */
  .login-wrapper {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  /*small phones  */
  .login-wrapper {
    max-width: 95%;
    padding: 10px;
  }
  .container {
    max-width: 100%;
    margin: 10px;
  }
  h3,
  h5 {
    font-size: 16px;
  }
  .password-label {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  .mode-login button {
    font-size: 14px;
    padding: 6px 10px;
  }
}
