.daraz-logo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 6%;
}
.daraz-logo > a > img {
  height: 40px;
  width: 127px;
}

.daraz-search-bar {
  width: 668px;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
}
.search-input-container input {
  padding: 10px
}
.search-button-icon {
  position: absolute;
  z-index: 1;
  padding: 4px;
  border: none;
  color: rgb(248 86 6);
  right: 30px; /* Adjust this value to position the icon correctly */
  background-color: #ffe1d2; /* Optional: change the color of the icon */
  cursor: pointer;
}
